<nav class="show-for-small-only">
<div class="top-bar" id="top"> 
<div class="row expanded align-middle align-justify">
  
  <div class="top-bar-left">
    <ul class="menu simple">
      <li class="top-bar__logo"><a href="/" class="animsition-link"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a></li>
    </ul>
  </div>
  
  <div class="top-bar-right-mobile show-for-small-only">
    <button class="hamburger hamburger--collapse" id="toggle" data-toggler=".is-active" type="button" data-toggle="overlay toggle">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>

</div>
</div>
</nav>