<div class="grid-x grid-padding-x align-middle align-justify show-for-small-only">
  
  <div class="shrink cell">
    <ul class="menu simple">
      <li class="top-bar__logo"><a href="/" class="animsition-link"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a></li>
    </ul>
  </div>
  
  <div class="shrink cell">
    <button class="hamburger hamburger--collapse" id="toggle" data-toggler=".is-active" type="button" data-toggle="overlay toggle">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>

</div>