<div class="grid-x grid-padding-x align-middle align-justify show-for-small-only">
  
  <div class="shrink cell">
    <ul class="menu simple">
      <li class="top-bar__logo"><a href="/"><svg class="icon icon-logo"><use xlink:href="/assets/icons/symbol-defs.svg#icon-logo"></use></svg></a></li>
    </ul>
  </div>
  
  <div class="shrink cell">
    <button id="toggle" type="button" data-toggle="overlay">
      <svg class="icon icon-menu"><use xlink:href="/assets/icons/symbol-defs.svg#icon-menu"></use></svg>
    </button>
  </div>

</div>