@font-face {
  font-family: 'SpaceMono-Regular';
  src: 
  url('../fonts/SpaceMono-Regular.woff') format('woff'), 
  url('../fonts/SpaceMono-Regular.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}