//  Table of Contents:
//
//   1. Global
//   2. Typography
//   3. 404
//   4. Navigation
//   5. Sections
//   6. Excerpt
//   7. Page
//   8. Contact

// 1. Mixins
// ---------

@mixin links ($link, $hover) {
  a {
    color: $link;
    &:hover {
      color: $hover;   
    }
  }
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
 .content {
    transition: $primary-transition;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}

// 1. Global
// ---------

html, body {
    margin: 0;
    padding: 0;
}

.viewheight {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

:focus {
outline: 0;
}

body {
  cursor: default;
}

svg {
  max-width: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

::selection {
  background: $color--black;
  color: $color--white;
}

a { 
  transition: $primary-transition;
}

// 3. Animations
// -------------

.swup-transition-fade-up {
  transition: 0.5s;
  opacity: 1;
  transform: translateY(0);
}

html.is-animating .swup-transition-fade-up {
  opacity: 0;
  transform: translateY(-10px);
}

.swup-transition-fade {
  transition: 0.5s;
  opacity: 1;
}

html.is-animating .swup-transition-fade {
  opacity: 0;
}

.swup-transition-color {
  transition: 0.5s;
  opacity: 1;
}

html.is-animating .swup-transition-color {
  opacity: 0;
}

// 2. Typography
// -------------

.uppercase {
  text-transform: uppercase;
}

i, cite, em, var, address, dfn {
  font-style: normal;
}

// 3. 404
// ------


// 4. Navigation
// -------------


// 4. Navigation
// -------------


// 6. Artists
// ----------


.artist__excerpt {
	position:relative;
	opacity:1;
	
	  p {
//   	  opacity:0.0;
	  }
	
  	img {
      width:100%;
    }
    
    .artist__image:after {
      opacity:0;
      transition: $primary-transition;
    }
    
    &:hover .artist__image:after {
        background:$color--black;
        opacity:0.7;
      }
      
    &:hover .artist__links {
opacity: 1;
      } 
}

.artist__links {
  opacity: 0;
  color: $color--white;
  transition: $primary-transition;
  position:absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  z-index: 1;
  a {
  color: $color--white;
  }
  a:hover {
  color: $color--gray;
  }
  @include breakpoint(small only) {
    padding: 2rem;
  	}
}

.artist__links .menu > li > a {
  padding: 0.25rem;
}


.artist__image:after {
  content:'\A';
  position:absolute;
  width:100%; 
  height:100%;
  top:0; 
  left:0;
  background:$color--black;
  opacity:0.25;
}



// Releases


.release__excerpt {
	position:relative;
	opacity:1;
	
	  p {
//   	  opacity:0.0;
	  }
	
  	img {
      width:100%;
    }
    
    .release__image:after {
      opacity:0;
      transition: $primary-transition;
    }
    
    &:hover .release__image:after {
        background:$color--black;
        opacity:0.7;
      }
      
    &:hover .release__format {
opacity: 1;
      } 
}

.release__format {
  opacity: 0;
  color: $color--white;
  transition: $primary-transition;
  position:absolute;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100%;
  padding: 1rem;
  z-index: 1;
  a {
  color: $color--white;
  }
  a:hover {
  color: $color--gray;
  }
  @include breakpoint(small only) {
    padding: 2rem;
  	}
}


.release__image:after {
  content:'\A';
  position:absolute;
  width:100%; 
  height:100%;
  top:0; 
  left:0;
  background:$color--black;
  opacity:0.25;
}


.carousel {
  min-height: 100vh;
  @include breakpoint(small only) {
    min-height: calc(100vh - 200px);
  	}
}

.image--landscape {
  @include aspect-ratio (6, 4);
  background-size: cover; 
  background-position: 50%;
}

.white {
  color: $white;
  @include links ($white, $medium-gray);
}