---
layout: default
---

<!-- Artists -->
<div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-3"> 
  {% assign artists = site.artists | sort: 'position' %}
  {% for artist in artists %}
    <div class="cell">
      
      
      <!-- Artist -->
      <div class="artist">    
      <div class="artist__excerpt">      
          <div class="artist__image">
            <img src="{{ artist.image }}" alt="{{ artist.title }}">
          </div>
          
          <div class="artist__links">
            {% include socials.html %}
          </div>
      </div>
      
      <div class="artist__text padding-top-1">
      {{ artist.title }} 
      </div>
      </div>
      <!-- End Artist -->

    </div>
  {% endfor %}
</div>
<!-- End Artists -->