---
layout: default
---

<div class="grid-x carousel align-center">
  <div class="small-11 medium-11 large-10 xxlarge-8 cell align-self-middle">

    <div class="swiper-container">
      <div class="swiper-wrapper">
      {% assign artists = site.artists | sort: 'position' | where: "is-featured", "true" %}
      {% for artist in artists %}
        <div class="swiper-slide">       
          {% assign image = artist.feature-image %}
          <div class="image--landscape slide" data-interchange="[{{image}}, small]">

            <div class="padding-1 white">
            {{artist.title}}
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>

  </div>
</div>