---
layout: default
---

<!-- Index -->
<section class="index">
  <div class="row expanded columns carousel align-center">
    <div class="small-11 medium-11 large-10 xxlarge-8 columns align-self-middle">
      
      <div class="orbit" role="region" aria-label="Featured Artists" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out; pause-on-hover:false;">
        <ul class="orbit-container">
          
          <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>←</button>
          <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&rarr;</button>
          
          <li class="is-active orbit-slide">
            <img class="orbit-image" src="/uploads/jamie-isaac-feature.jpg" alt="Space">
            <figcaption class="orbit-caption">Jamie Isaac</figcaption>
          </li>
          <li class="orbit-slide">
            <img class="orbit-image" src="/uploads/courtney-barnett-feature.jpg" alt="Space">
            <figcaption class="orbit-caption">Courtney Barnett</figcaption>
          </li>
          <li class="orbit-slide">
            <img class="orbit-image" src="/uploads/hazel-english-feature.jpg" alt="Space">
            <figcaption class="orbit-caption">Hazel English</figcaption>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
<!-- End Index -->