---
layout: default
---

<!-- Videos -->
{% assign videos = site.videos | sort: 'date' | reverse %}
{% for video in videos %}
<div class="grid-x grid-padding-x grid-padding-y align-center"> 
  <div class="small-11 medium-10 cell">  
    
    <div class="video__text padding-bottom-1">
    {{video.title}} — {{video.artist}}
    </div>
    
    <div class="responsive-embed widescreen">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{video.youtube}}?modestbranding=1&rel=0&showinfo=0&color=white&iv_load_policy=3" frameborder="0" allowfullscreen></iframe>
    </div>
    
  </div>
</div>
{% endfor %}
<!-- End Videos -->